@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body,
form,
input {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
}

body {
  background-color: #0f1023;
}
